extends layout

block content
  #bandeau
    h1= title
  p Bienvenue sur le #{title}
  form(method='POST' , action='/')
    textarea(rows=4, cols=60, maxlength=256,name="tweet")
    br(\='')
    input(type='submit', value='Envoyer')

  ul
  - each tweet in tweets
    li= tweet
