extends layout

block content
	#bandeau
		h1= title

	p Bienvenue sur le #{title}

	form
		label(for='tweet') Quoi de neuf ?
		br(\='')
		textarea#tweet(rows='4', cols='60', maxlength='256')
		br(\='')
		input(type='submit', value='Envoyer')
		

