body {
	background-color: #00BFFF;
	padding: 50px;
	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

/* bannière contenant un titre et deux images de part et d'autre du titre */
#banner {
	border: groove 10px;										/* cadre de 10px de large, style rainuré */
	border-radius: 25px;										/* bords arrondis (courbure de 25px) */
	margin-top: 10px;											/* marge de 10px en haut et en bas */
	margin-bottom: 10px;
	border-color: #424242;										/* 42 ! */
	background-color: #99FFFF;
}

h1 {
	border: dashed 4px;											/* bordure en pointillées */
	border-color: #FF0074;										/* couleur violette */
	font: 60px "Lucida Grande", Helvetica, Arial, sans-serif;	/* police d'écriture */
	font-style: italic;											/* texte du titre en italique */
	text-align: center;											/* texte centré */
	text-shadow: 4px 4px #AAAAAA;								/* décoration : ombrage gris du titre */
	display: inline;											/* affichage "inline" (pour le placer dans le bandeau */
	position: relative;
	bottom: 90px;
	left: 20%;
	padding: 10px 10px 10px 10px;
}

/* classe de l'image de gauche dans le bandeau */
.img_banner_left {
	position: relative;
	left: 0px;
}

/* classe de l'image de droite dans le bandeau */
.img_banner_right {
	position: absolute;
	right: 5%;
}

input, textarea {
	border: groove 6px;											/* Bodure de 6px de style rainuré */
	border-radius: 10px;										/* bordure arrondie à 10px */
	border-color: #424242;
	background-color : #99FFFF;
}

/* classe des tweet (twit) */
li.twit {
	border: groove 4px;
	border-radius: 15px;
	border-color: #424242;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	list-style-type: none;
	word-wrap: break-word;
	background-color: #99FFFF;
}

/* classe du nom du tweet */
li.name {
	margin-bottom: 0px;
	margin-top: 20px;
}
